
.home {
	display: flex;
	flex-direction:  column;
}

.home_navbar {
	display:  flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 30px;
	background-color: #595ef1bd;
}

.input-file{
    background-color: #f8f9fc;
    border: 1px solid #e2e9f3;
    border-radius: 4px;
    height: 40px;
    width: 500px;
    color: #565A90;
}

.input-file::file-selector-button{
    border: none;
    border-radius: 4px;
    color: white;
    background-color: #595ef1bd;
    border: 1px solid #595ef1bd;
    height: 40px;
    cursor: pointer;
    transition: all .25s ease-in;
    cursor: pointer;
}

.input-file::file-selector-button:hover{
    background-color: #fff;
    color: #565A90;
    transition: all .25s ease-in;
}


.home_navbar>h1 {
	font-size: 25px;
}

.home_navbar button {
	border: none;
	padding: 5px;
	margin: 0 5px;
	border-radius: 5px;
}

.logout {
	color: red;
	font-weight: bold;
}

button:hover {
	cursor: pointer;
}

img {
	width: 300px;
}

.Dashboard {
	display: flex;
	flex-direction:  column;
	justify-content: center;
	align-items: center;
	padding: 20px;
}

.Dashboard_left {
	display:  flex;
	flex-direction:  column;
}

.Dashboard_img {
	margin: 10px 0;
	width: 500px;
	position:  relative;
	transform:  translate(-350px,0);
}

.imagefilters {
	display:  flex;
	border: 1px solid lightcoral;
	padding: 10px;
}

ImageFilter {
	width: 150px;
}

.imagefilter {
	width:  200px;
	margin: 5px;
}

.imagefilter:hover {
	cursor: pointer;
}

.SelectedImage {
	position:  absolute;
	padding: 10px;
	transform: translate(350px,-350px);
}

.SelectedImage_img {
	width: 500px;
}

.Login {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

input {
	margin:  10px;
	padding:  5px;
	border: 1px solid grey;
	border-radius: 5px;
	outline: none;
}

.Login input[type='submit'] {
	width: 180px;
	background-color: black;
	color: white;
}

input[type='submit']:hover{
	cursor: pointer;
	opacity: 0.8;
}


.Register {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

form p {
	color: blue;
}
form p:hover {
	cursor: pointer;
	opacity: 0.8;
	border-bottom: 1px solid blue;
}